:root {
  --color-primary: #0285e4;
  --color-secondary: #f3cd03;
  --color-accent: #112d57;
  --color-heading: #000000;
  --color-body: #5c5c5c;
  --color-light: #ffffff;
}

html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.2px;
  background-color: #0285e4;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-accent);
  line-height: 4.8rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.4rem;
  }
}

/* COMPONENTS */

/* Block */

.block {
  padding: 10rem 4.5rem;
}

.block--rightSkew {
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}

.block-header {
  text-align: center;
}

.container {
  max-width: 1102px;
  margin: 0 auto;
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Link */
a {
  text-decoration: none;
}

/* Button */
.btn {
  padding: 1.2rem 3.6rem;
  border-radius: 5rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  display: inline-block;
}

.btn--lg {
  padding: 1.4rem 8rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.btn--primary:hover {
  background-color: #0477ca;
  transition: background-color 0.3s;
}

.btn--white {
  background-color: var(--color-light);
  color: var(--color-primary);
}

/* List */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
}

/* Card */
.card {
  background-color: var(--color-light);
  border-radius: 1rem;
  border: 1px solid #d3d3d3;
  padding: 4rem;
}

/* Input */
.input {
  border: 1px solid #d0d0d0;
  border-radius: 5rem;
  outline: none;
  padding: 1.6rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-body);
}

::placeholder {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

/* Progress Bar */
.progressbar {
  width: 100%;
  background-color: #f3f5f8;
  height: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
}

.progress {
  height: 100%;
  border-radius: 1rem;
}
.progress--20 {
  width: 20%;
  height: 100%;
  border-radius: 1rem;
}
.progress--50 {
  width: 50%;
  height: 100%;
  border-radius: 1rem;
}

.progress--70 {
  width: 70%;
  height: 100%;
  border-radius: 1rem;
}

.progress--primary {
  background-color: var(--color-primary);
}

/* SECTIONS */

/* Navbar */
.nav {
  background-color: var(--color-light);
  padding: 2.5rem 1rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__items {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.humburger {
  font-size: 4rem;
}

.nav__list {
  width: 100%;
}

.nav__list .list__item {
  border-bottom: 1px solid var(--color-body);
  margin-bottom: 1rem;
  padding-bottom: 0.6rem;
}

.nav__list .list__item > a {
  color: var(--color-heading);
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .humburger {
    display: none;
  }

  .nav__items {
    order: 3;
  }

  .nav__list {
    width: auto;
    max-height: 100%;
    display: flex;
    gap: 4.5rem;
    order: 2;
  }

  .nav__list .list__item {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/* Hero */
.hero {
  text-align: center;
  background-color: var(--color-light);
}

.hero__heading {
  max-width: 324px;
  margin: 0 auto;
}

.hero__text {
  max-width: 490px;
  margin: 2rem auto 8.5rem auto;
}

.hero__image {
  width: 100%;
  margin-top: 8.5rem;
}

@media screen and (min-width: 768px) {
  .hero__heading {
    max-width: 664px;
    margin: 5.5rem auto 0 auto;
  }

  .hero__text {
    max-width: 577px;
    margin: 2rem auto 8.5rem auto;
  }

  .hero__image {
    width: 80%;
    margin-top: 1rem;
  }
}

/* Feature */
.feature {
  background-color: var(--color-primary);
  /* text-align: center; */
}

.feature__heading {
  color: var(--color-light);
}

.feature__card {
  max-width: 37.2rem;
}

.feature__card .card__heading {
  max-width: 21rem;
  line-height: 3.2rem;
}
.feature__card .card__text {
  max-width: 26rem;
}
.feature__card .card__image {
  width: 100%;
}

.feature__grid {
  gap: 3.1rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
  justify-items: center;
}

.feature__cta {
  text-align: center;
}

/* Showcase */
.showcase {
  text-align: center;
  background-color: #e1f1fd;
}

.showcase__input-group {
  margin-top: 3rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.showcase__input-group .btn {
  padding: 1.4rem 4.6vw;
}

.showcase__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .showcase__input-group {
    flex-direction: row;
    gap: 0.7rem;
  }
}

/* CTA */
.cta {
  background-color: var(--color-light);
  text-align: center;
}

.cta__text {
  max-width: 590px;
  margin: 0 auto;
}

.progress-block {
  max-width: 757px;
  margin: 5.2rem auto;
}

.progress__values {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress__number {
  font-weight: 700;
}

/* Footer */
.footer {
  background-color: var(--color-accent);
  text-align: center;
}

.footer__grid {
  gap: 3.7rem;
  justify-items: center;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  justify-content: center;
}

.footer__text {
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: var(--color-light);
}
